body {
    margin: 0;

    font-family: Tahoma, sans-serif;
    font-size: 18px;
    line-height: 1.5;

    background-image: #fff;
}

/* Position */

/* Modal */
.modal{
    width: 500px;
    height: 300px;
    margin: 20px auto;
    position: relative;
    padding: 15px;

    background-color: #eee;
}

.modal-title{
    margin: 0;
}

/* Square */
.square {
    width: 50px;
    height: 50px;

    background-color: #000;

    position: absolute;
    right: -10px;
    top: -10px;
    z-index: 1;
}

.square.red {
    background-color: rgb(255, 0, 0);
    right: -15px;
    top: -5px;
    z-index: 2;
}