body {
    margin: 0;

    font-family: Tahoma, sans-serif;
    font-size: 18px;
    line-height: 1.5;

    background-image: #fff;
}

/* Position */

/* Modal */
.modal{
    width: 500px;
    height: 300px;
    margin: 20px auto;

    background-color: #eee;
}

/* Square */
.square {
    width: 50px;
    height: 50px;

    background-color: #000;

    position: absolute;
    top: 0;
    left: 0;
}