*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: #fff;
}

.container{
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 20px;
}

/* Card */

.card-1{
    background-color: #4dc4cc;
}
.card-2{
    background-color: #ffe882;
}
[class*="card-"]{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    height: 100px;
}

/* Col */

.col{
    padding: 0 10px;
    flex-grow: 1;
}

/* Grid */
.grid{
    display: flex;
    flex-wrap: wrap;
}